<h3>Edit Collection</h3>

<div class="container" id="five">

    <% records.each do |vinyl| %>
            <div class="collection" id="five">
            <p><%= vinyl['artist_name']  %>  </p>
            <img src="<%= vinyl['img_url'] %>" alt="">
            <p><%= vinyl['album_name'] %></p>

            <form action="/delete_from_collection" method="POST">

                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="id" value="<%= vinyl['id'] %>">
                
                <button>Remove From Collection</button>
            </form>
        </div>
    <% end %>
</div>   