<h3>Edit Top 5</h3>

<div class="container" id="four">

    <% records.each do |vinyl| %>
        <div class="collection" id="four">
            <p><%= vinyl['artist_name']  %></p>
            <img src="<%= vinyl['img_url'] %>" alt="">
            <p><%= vinyl['album_name'] %></p>
            <form action="/edit_favourites" method="POST">

                <input type="hidden" name="vinyl_id" value="<%= vinyl['id'] %>">

                <button>Add to top 5</button>
            </form>
        </div>
    <% end %>
</div>        
