<html class="html">   
    <h3>Edit Top Monthly Arrival</h3>
    <form action="/create_arrival" method="POST">
        <label for="">Artist Name</label>
        <input type="text" name="artist_name">

        <label for="">Album Name</label>
        <input type="text" name="album_name">

        <label for="">Year</label>
        <input type="number" name="year">  

        <label for="">Album Art</label>
        <input type="text" name="img_url">

        <button>Add</button> 
    </form>
</html>