<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//db.onlinewebfonts.com/c/19379417f31c9f6fa8962bc7517692b7?family=HWT+Arabesque" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="/Users/tobiasbedford/Documents/sei/project2/minyl/public/stylesheets/main.css">
  <link href="https://www.dafontfree.net/embed/ZG9nc21va2UtcmVndWxhciZkYXRhLzc0L2QvMTY0OTY2L0RvZ3Ntb2tlLnR0Zg" rel="stylesheet" type="text/css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet"> 
</head>
<header><h1></h1></header>
<body>

  <%= yield %>

</body>
</html>
