.html {
  height: 100%;
  width: 100%;
}
html {
  width: 100%;
}

body {
  font-family: "Bubblegum Sans", cursive;
  background-image: linear-gradient(
    to right bottom,
    #b15c3a,
    #bf7549,
    #cd8d5b,
    #daa66f,
    #e7be86,
    #e6c38d,
    #e5c894,
    #e4cd9b,
    #d4c092,
    #c5b489,
    #b6a781,
    #a79b78
  );
  margin: auto;
}
h1 {
  font-family: "Bubblegum Sans", cursive;
  font-size: 50px;
}
a {
  text-decoration: none;
  border: 1px solid black;
  padding: 3px;
  color: black;
  font-family: sans-serif;
  font-family: "Bubblegum Sans", cursive;
  background-color: #b4c5b2;
  box-shadow: 0 10px 6px -6px #777;
  border-radius: 25px;
}
button:hover {
  background-color: #cc7c5d;
}
a:hover {
  background-color: #cc7c5d;
}
label {
  letter-spacing: 2px;
}
button {
  font-family: "Bubblegum Sans", cursive;
  letter-spacing: 2px;
  background-color: #b4c5b2;
  box-shadow: 0 10px 6px -6px #777;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

img {
  width: 200px;
  height: 200px;
}
header {
  margin-bottom: 10px;
  text-align: center;
}
.arrival img {
  width: 200px;
  height: 200px;
}
.top5 img {
  width: 200px;
  height: 200px;
}
.front_image {
  position: absolute;
  width: 180px;
  height: 180px;
  top: -20px;
}
h1 {
  color: aliceblue;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
p {
  text-align: center;
}
h2 {
  text-align: center;
}
h2 {
  border: black 1px solid;
  background-color: #f9dea7;
  box-shadow: 0 10px 6px -6px #777;
  border-radius: 25px;
}
#one {
  grid-gap: 10px;
}
#two {
  grid-gap: 10px;
}
#three {
  grid-gap: 10px;
}
img {
  border: black 3px solid;
  border-radius: 25px;
  box-shadow: 0 10px 6px -6px #777;
}
.logo {
  border: none;
  margin-bottom: 50px;
  box-shadow: none;
}
h3 {
  text-align: center;
}
.error_message {
  color: rebeccapurple;
}
/* @media screen and (max-width: 700px) { 
    .html {
        height: 100%;
        width: 100%;
    }  */
