<html class="html">
    <div class="error_message"><%= error_message %></div>
    <form action="/sessions" method="POST">
        <label for="">Email</label>
        <input type="text" name="email">

        <label for="">Password</label>
        <input type="password" name="password">

        <button>Login</button>
    </form>
</html>